* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html {
    font-size: calc(0.5em + 0.5vw);
}
html > body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header, footer > nav {
    margin: 0;
}

.hidden {
    display: none;
}

header {
    grid-area: headerArea;
}

main {
    grid-area: mainArea;
}

#grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "headerArea" "mainArea";
}

header h1 {
    border: 2.5px solid #C4C4C4;
    color: #707070;
    width: 95vw;
    padding: 1.5rem;
}

.tab-active {
    background-color: #25DFE6;
    border: 1.5px solid #5EE7EC;
}
.tab-active h2 {
    color: #FFFFFF;
    text-decoration: none;
}

.tab-inactive {
    background-color: #F5F5F5;
    border: 1.5px solid #C4C4C4;
}
.tab-inactive h2 {
    color: #707070;
    text-decoration: none;
}

#tabs {
    list-style: none;
    padding: 0;
    margin: 0;

}

#content::before {
    content: " ";
    display: block;
    border-top: 10px solid #5EE7EC;
}

#tabs li {
    display: inline-block;
    margin: 0 0.7rem;
    margin-left: 0;
    padding: 0.1rem 0.8rem;
}

#content {
    padding: 0;
    margin-bottom: 1rem;
    width: 95vw;
    border: 2.5px solid #C4C4C4;
    border-top: 0px;
}

#content-inner {
    padding: 0.5rem 1.5rem;
    padding-bottom: 2.5rem;
}

#content h2, #content p {
    color: #707070;
}

#content ul li::marker {
    color: #707070;
}

#content ul li a {
    color: #5EE7EC;
}

#content ul li a:visited {
    color: #5EE7EC;
}

#content ul li a:link {
    color: #5EE7EC;
}